@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DesafioSGI</h1>
    <p> Acesse meu  <a href="https://github.com/julianoosmir/DesafioSGI">GITHUB</a>.</p>
</div>
